body {
  height: 100%;
  background-color: #51504c;
  color: white;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

 /* Adds style to the input fields */
input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
  background-color: rgba(128, 128, 128, 0.281);
}

/* Adds style to the buttons */
button {
  background-color: #6e6e6e51;
  border: 2px solid black;
  color: rgb(250, 248, 248);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

/* Adds style to the drop down menus */
select {
  appearance: none;
  background-color: #51504c;
  border: 2px solid black;
  border-radius: 4px;
  outline: black;
  padding: 12px 20px;
  margin: 8px 0;
  width: 50%;
  font-family: inherit;
  font-size: inherit;
  color: white;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #050505;
  overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #0d06f3;
  color: white;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

form {
  text-align: center;
}




/* Center results on the page */
.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 50px); /* Adjust 50px based on your actual navbar height */
}

.result {
  font-size: 24px;
  margin-bottom: 20px;
}